@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");

.container {
  font-family: "Merriweather";
}

/* HEADER */
header {
  background-color: #7fffa0;
}

h1 {
  color: #666;
  font-size: 3.5em !important;
  align-self: center;
  font-family: Copperplate,Copperplate Gothic Light,fantasy; 
}

h2{
  font-size: 1.25rem !important;
}


/* NAV */
nav {
  background-color: #d1d1d1;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav li a,
nav li div {
  display: block;
  color: #666 !important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #a6a6a6;
  cursor: pointer;
}

nav ul li:first-child {
  margin-left: auto;
}

nav ul li:nth-of-type(6) {
  margin-left: auto;
}

/* ARTICLE */
.articulos {
  background-color: white;
  padding: 1em;
}

.textArt {
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 9;
   -webkit-box-orient: vertical;
   word-wrap: break-word;
}

.articulos img {
  width: 100%;
}

section {
  margin-bottom: 20px;
  background-color: #fff;
}

section header,
section footer {
  padding: 0.5em;
  background-color: #d1d1d1;
}

hr {
  border: 1px solid #666;
  background-color: #666;
}

/* ASIDE */
article,
aside {
  margin: 15px;
  color: #666;
  display: flex;
  justify-content: center;
}



@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  right: 35px;
  top: 27px;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  border: 0;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.info {
  width: 95%;
  margin-top: 15px;
  margin-left: 5%;
}

aside {
  background-color: #d1d1d1;
  width: 137px;
  padding: 15px;
}

.sidebars {
  padding: 1em;
}

a {
  color: black;
  text-decoration: none !important;
}

a:hover {
  color: #4967ff;
}

/* FOOTER */
footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #111;
  color: #fff;
}

.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #27bcda;
}

@media screen and (min-width: 375px) and (max-width: 667px) and (orientation: portrait) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

/* VIDEO */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.contentVideo {
  position: fixed;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.ocultar {
  display: none !important;
}

.myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.myBtn:hover {
  background: #ddd;
  color: black;
}

.texto_animado {
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 3s;
}

#myCloseBtn {
  position: absolute;
  top: 1em;
  right: 1em;
  color: white !important;
  background-color: red;
}

@keyframes example {
  0% {
    left: 0px;
    top: 0px;
  }
  50% {
    left: 200px;
  }

  100% {
    left: 0px;
    top: 0px;
  }
}

/* MODAL */

#ModalForm .modal-cont {
  width: 80% !important;
  margin: 0 auto !important;
}

#ModalForm .modal-body {
  padding: 0 !important;
}
#ModalForm .btn-close {
  position: absolute !important;
  right: 0 !important;
  padding: 1em !important;
}

#ModalForm .myform {
  padding: 2em !important;
  max-width: 100% !important;
  color: #fff !important;
}
@media (max-width: 576px) {
  #ModalForm .myform {
    max-width: 90% !important;
    margin: 0 auto !important;
  }
}
#ModalForm .form-control:focus {
  box-shadow: inset 0 -1px 0 #7e7e7e !important;
}
#ModalForm .form-control {
  background-color: inherit !important;
  color: #fff !important;
  padding-left: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #fff !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}
#ModalForm .myform .btn {
  width: 100% !important;
  font-weight: 800 !important;
  background-color: #fff !important;
  border-radius: 0 !important;
  padding: 0.5em 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}
#ModalForm .myform .btn:hover {
  background-color: inherit !important;
  color: #fff !important;
  border-color: #fff !important;
}
#ModalForm p {
  text-align: center !important;
  padding-top: 2em !important;
  color: grey !important;
}
#ModalForm p a {
  color: #e1e1e1 !important;
  text-decoration: none !important;
}
#ModalForm p a:hover {
  color: #fff !important;
}

/* REGISTER */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.wrapper {
  max-width: 850px;
  background-color: #c6c6c6;
  border-radius: 10px;
  position: relative;
  display: flex;
  margin: 50px auto;
  box-shadow: 0 8px 20px 0px #1f1f1f1a;
  overflow: hidden;
}

.wrapper h2 {
  font-weight: 700;
  font-size: 25px;
  padding: 5px 0 0;
  margin-bottom: 34px;
  pointer-events: none;
}

.wrapper .form-right {
  padding: 20px 40px;
  position: relative;
  width: 100%;
}

.wrapper .form-right h2 {
  color: black;
}

.wrapper .form-right label {
  font-weight: 600;
  font-size: 15px;
  color: #666;
  display: block;
  margin-bottom: 8px;
}

.wrapper .form-right .input-field {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #e5e5e5;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  color: #333;
}

.wrapper .form-right .input-field:focus {
  border: 1px solid #31a031;
}

.wrapper .option {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  font-size: 0.95rem;
  font-weight: 900;
  cursor: pointer;
  user-select: none;
}

.wrapper .option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.wrapper .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 2px;
}

.wrapper .option:hover input ~ .checkmark {
  background-color: #f1f1f1;
}

.wrapper .option input:checked ~ .checkmark {
  border: 2px solid #e5e5e5;
  background-color: #fff;
  transition: 300ms ease-in-out all;
}

.wrapper .checkmark:after {
  content: "\2713";
  position: absolute;
  display: none;
  color: #3786bd;
  font-size: 1rem;
}

.wrapper .option input:checked ~ .checkmark:after {
  display: block;
}

.wrapper .option .checkmark:after {
  left: 2px;
  top: -4px;
  width: 5px;
  height: 10px;
}

.wrapper .register {
  padding: 12px;
  background: #3786bd;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 130px;
  border: none;
  margin: 6px 0 50px 0px;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
}

.wrapper .cancelar {
  padding: 12px;
  background: #ff4a4a;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 130px;
  border: none;
  margin: 6px 0 50px 0px;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
}

.wrapper .register:hover {
  background-color: #3785bde0;
}

.wrapper .cancelar:hover {
  background-color: #ff6767;
}

.wrapper a {
  text-decoration: none;
}

@media (max-width: 860.5px) {
  .wrapper {
    margin: 50px 5px;
  }
}

@media (max-width: 767.5px) {
  .wrapper {
    flex-direction: column;
    margin: 30px 20px;
  }
}

@media (max-width: 575px) {
  .wrapper {
    margin: 30px 15px;
  }
  .wrapper .form-right {
    padding: 25px;
  }
}

/* BOTON CAMBIO DE TEMA */

#switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

#switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:var(--color-fuente);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color:var(--color-fondo);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--color-fuente);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-fuente);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* RESPONSIVE */
@media (max-width: 1250px) {
  .textArt {
     -webkit-line-clamp: 6;
  }
  h1 {
    font-size: 3em !important;
  }
}

@media (max-width: 1000px) {
  .textArt {
     -webkit-line-clamp: 4;
  }
  h1 {
    font-size: 2.5em !important;
  }
}

@media (max-width: 767px) {
  .textArt {
     -webkit-line-clamp: 2;
  }
  h1 {
    font-size: 1.5em !important;
  }
  
}